* {
  margin: 0;
  padding: 0;
}

body {
  background: #000 url("/img/403.jpg") repeat top center;
  background-size: auto;
  z-index:0;
  color: #fff;
  font-family: arial;
  font-size: 62.5%;
}

.error {
    margin-top: 8%;
    margin-left: 8%;
}
